afinn
agate
agate-dbf
agate-excel
agate-sql
appdirs
arrow
astroid
atomicwrites
attrs
Babel
beautifulsoup4
beniget
binaryornot
black
certifi
cffi
chardet
charset-normalizer
click
click-log
colorama
configobj
contourpy
cookiecutter
cryptography
cssselect2
csvkit
cycler
dbfread
decorator
defusedxml
diff_cover
et-xmlfile
exceptiongroup
filelock
flake8
fonttools
fpdf
fpdf2
fs
fsspec
gast
greenlet
html5lib
httplib2
huggingface-hub
icalendar
idna
importlib-metadata
iniconfig
isodate
isort
Jinja2
joblib
keyring
khal
kiwisolver
langdetect
leather
logilab-common
lxml
lz4
markdown-it-py
MarkupSafe
matplotlib
mccabe
mdurl
more-itertools
mpmath
msgpack
mypy-extensions
networkx
nltk
numpy
oauthlib
olefile
openpyxl
packaging
pandas
parsedatetime
pathspec
pdfkit
pdoc
pexpect
pillow
platformdirs
pluggy
ply
posix-ipc
ptyprocess
py
pycairo
pycodestyle
pycparser
pydyf
pyflakes
Pygments
PyICU
PyJWT
pylint
pynvim
pyparsing
pyphen
PyQt5
PyQt5-sip
PySide6
pytest
python-dateutil
python-slugify
pythran
pytimeparse
pytz
pyxdg
PyYAML
regex
reportlab
requests
rich
rpy2
safetensors
scipy
SecretStorage
sentencepiece
setproctitle
shiboken6
six
soupsieve
SQLAlchemy
sqlfluff
sympy
tblib
text-unidecode
textblob
textblob-de
tinycss2
tokenizers
toml
tomli
torch
tqdm
transformers
types-python-dateutil
typing_extensions
tzdata
tzlocal
ufoLib2
unicodedata2
Unidecode
urllib3
urwid
wadllib
weasyprint
webencodings
wrapt
xdg
xlrd
zipp

